[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

[Bb]uild/
[Bb]uilds/
ServerData/

.idea/
.vscode/

*.csproj
*.sln
*.unityproj
*.user
*.userprefs
*.pidb
*.booproj

.DS_Store
Thumbs.db